footer {
	display: flex;
	opacity: 0;
	transition: opacity $fade-in-start;
	position: fixed;
	background-color: yellow;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.player-container {
	display: flex;
	width: 66%;
	height: 100%;
	background-color: gray;
}

.progress-div {
	background-color: orange;
	display: flex;
	width: 200px;
}

.progress-container {
	width: 150px;
	display: inline-block;
	height: 15px;
	background-color: white;

	#progress-bar {
		width: 1%;
		height: 15px;
		background-color: black;
	}
}

.credit-container {
	width: 34%;
	height: 100%;
	background-color: teal;
}
